body {
  background-color: #CDEBF8;
}
.container {
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 10px;
  padding: 5px;
}

.todo-item button {
  background-color: #0082BA;
  padding: 8px;
  border: none;
  border-radius: 6px;
  color: white;
}

.button {
  background-color: #0082BA;
  padding: 8px;
  border: none;
  border-radius: 6px;
  color: white;
}

.todo-input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}